.place__image{
    width: 100%;
    padding-bottom: 100%; 
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 868px){
    .place__image{
        display: table;
    }
 }

 @media screen and (max-width: 320px){
    .place__image{
        display: block;
        width: 100vw;
        height: 100vw;
        padding-bottom: 0;
        margin-left: -16px;
    }

 }