.place__paragraph{
    font-size: 18px;
    line-height: 1.65;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 26px;
}
.place__paragraph:last-of-type{
    margin: 0;
}

@media screen and (max-width: 1024px){
    .place__paragraph{
        line-height: 1.63;
    }
 }

@media screen and (max-width: 868px){
    .place__paragraph{
        font-size: 16px;
        margin-bottom: 25px;
    }
 }

 @media screen and (max-width: 620px){
   .place__paragraph{
      width: calc(100% - 32px);
      margin-right: auto;
      margin-left: auto;
  }
  .place__paragraph:last-of-type{
      margin-right: auto;
      margin-left: auto;
  }
}