.website{
    max-width: 456px;
    min-height: 46px;
    margin-top: auto;
}

@media screen and (max-width: 620px){
    .website{
      min-width: calc(100% - 32px);
      margin-right: auto;
      margin-left: auto;
    }
}