.cover{
    margin: 92px auto;
    max-width: 1184px;
}

@media screen and (max-width: 768px){
    .cover{
        margin-top: 90px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 640px){
    .cover{
      margin-top: 66px;
      margin-bottom: 64px;
  }
}