.cover__title{
    max-width: 560px;
    font-size: 72px;
    line-height: 1.05;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    color: #fff;
    margin: 0 0 32px 0;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1024px){
    .cover__title{
        line-height: 1.06;
    }
}

@media screen and (max-width: 640px){
    .cover__title{
        width: 288px;
        font-size: 32px;
        line-height: 1.09;
        margin-bottom: 16px;
    }
}

