.header__lang-links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__lang-links li{
    margin-right: 18px;
}

.header__lang-links li:last-of-type{
    margin-right: 0;
}